/* the div that holds the date picker calendar */
/* .dpDiv{ }

/* a tabela (dentro do div) que contém o calendário selecionador de data*/
.dpTable{
	font-family: Verdana, sans-serif;
	font-size:8pt;
	text-align:center;
	color:#000;
	background-color:#fff;
	border:1px solid #ccc;
	background: #f1f1ed;
}


/* a linha superior da tabela que contém os botões de mês, ano e avançar / retroceder */
/* .dpTitleTR{} */

/* the second table row, that holds the names of days of the week (Mo, Tu, We, etc.) */
/* .dpDayTR{ }

/* the bottom table row, that has the "This Month" and "Close" buttons */
/* .dpTodayButtonTR{ } */

/*uma linha da tabela que contém números de data (em branco ou 1-31)*/
.dpTR{ 
	padding: 10px 0;
	background: #eee;
	margin: 0;
}
/* Célula de tabela que contém um número de data (em branco ou 1-31) */
.dpTD{
	border:1px solid #fff;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
	outline:none;
	padding: 10px 10px;
}
/* Tabela de números de data sobre a qual o ponteiro do mouse está atualmente (você pode usar cores contrastantes para deixar claro qual célula está sendo passada o mouse) */
.dpTDHover{
	background-color:#ffffff;
	border:1px solid #888888;
    cursor:pointer;
    overflow: hidden;
	outline:none;
	padding: 9px 9px;
	
}
/* a table cell that holds a highlighted day (usually either today's date or the current date field value) */
.dpDayHighlightTD{
	background-color:#CCCCCC;
	border:1px solid #AAAAAA;
}

/* the table cell that holds the name of the month and the year */
.dpTitleTD{
	background: #f1f1ed;
 }

/* a table cell that holds one of the forward/backward buttons */
.dpButtonTD{
	background: #f1f1ed;
 }

/* the table cell that holds the "This Month" or "Close" button at the bottom */
/* .dpTodayButtonTD{ } */

/* Tabela com os dias da semana */
.dpDayTD{
	margin: 0;
	padding: 10px 0;
	background-color: #ddd;
	font-weight: bolder;
}

/* Titulo do calendario (Mês) e o Ano*/
.dpTitleText{
	font-size:25px;
	color:#000000;
	font-weight:bold;
	padding: 35px 50px;
  	width: 100%;
  	background: #f1f1ed;
  	text-align: center;
}

/* Dia em destaque no calendario */ 
.dpDayHighlight{
	color:4060ff;
	font-weight:bold;
}
/* Botão Avançar e Voltar Mêses */
.prev{
	font-size:24px;
	color: rgb(0, 0, 0);
	padding:5px;
	width: 40px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
/*Antigos Botões Avançar e Voltar Meses */
/* .dpButton{} */


/* Botões Este mês e Fechar*/
.dpTodayButton{
	font-family: Verdana, sans-serif;
	font-size:12px;
	color:rgb(0, 0, 0);
	background:#ddd;
	font-weight:bold;
	border-radius: 0.5rem;
	margin: 6px;
	padding: 6px 6px;	
	border:1px solid #ddd;
	
}
